header{
  width: 100vw;
  height: 50px;
  background-color: #9b2d2d;
  border-bottom: 2px solid #000000;
  margin-bottom: 20px;
}
main{
  margin: 0;
  position: relative;
}

.btn{
  margin-right: 1rem;
}

.container{
  position: relative;
}

#topics{
  width: 70vw;
  height: 10vh;
}

#search-and-topics{
  padding: 10px;
margin: 0px 0px 20px 0px;  
  background-color: #777777;
  width: 70vw;
  height: 10vh;

}

#gif-wrapper{
  padding: 10px;
  margin-bottom: 20px;
  width: 70vw;
  height: 10vh;
  background-color: aqua;
}