header{
  width: 100vw;
  height: 50px;
  background-color: #9b2d2d;
  border-bottom: 2px solid #000000;
  margin-bottom: 20px;
}
main{
  margin: 0;
  position: relative;
}

.btn{
  margin-right: 1rem;
}

#topics{
  width: 70vw;
  height: 10vh;
  position: absolute;
  left: 15vw;

}

#search-and-topics{
  padding: 10px;
  background-color: #777777;
  width: 70vw;
  height: 10vh;
  position: absolute;
  left: 15vw;

}

#gif-wrapper{
  padding: 10px;
  width: 70vw;
  height: 10vh;
  position: absolute;
  left: 15vw;
  background-color: aqua;
}