/* elements */

header{
  width: 100vw;
  height: 50px;
  background-color: #0f9d58;
  border-bottom: 2px solid #000000;
  margin-bottom: 20px;
}
main{
  margin: 0;
  position: relative;
}
input{
  border: 1px solid #000000;
}

/* classes */

.btn{
  margin: 0.5rem;
  background-color: #0f9d58;
  color: #ffffff;
  border: 1px solid #000000;
}

.container{
  padding: 0px;
  margin-left: 10vw;
  width: 80vw;
}


/* Ids */

#topics{
  margin: 0;
  height: 10vh;
  position: relative;
  height: auto;
}

#search{
  padding: 20px 0px 20px 20px;
  background-color: #777777;
  height: 70px;

}

#instructions, #fun-header{
  color: #ffffff;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

#gif-wrapper{
  height: auto;
}

#instructions{
  color: black;
}

